header {
    padding: 156px 0 100px;
  }
  
  section {
    padding: 150px 0;
  }

#header-logo{
  height: auto;
  width:25%;
}
/*navBar*/
#mainNav{
  opacity: 0.85;
  filter: alpha(opacity=75);

}
/*header*/
#ragnar-header{
  background-color: #133395;
}


/*Meet the team mainpage*/
.teamPortraitBG{
  Height:auto;
  width:100%;
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}




/*sliding container*/
.service-wrapper{
  overflow:hidden;
  position: relative;
  margin-bottom: 20px;
}
.service-wrapper-inner{
  height:100%;
  width: 100%;
  position: absolute;
  top:75%;
  z-index: 1;
  padding: 15px, 20px;
  -webkit-transition:0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  background: blue;
  background-size: 100%;
}
.service-wrapper:hover .service-wrapper-inner{
  top:0;
}


/*video and title*/
.video-container{
  Height:100%;
  width:100%;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

/*Title Overlay CSS*/
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Ragnar-Head-Title {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}
#Eleveator-Pitch {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}
#services{
  background-image: url(./files/images/team_photos/team/)
}